body, html {
  height:100%;
}

/* workaround modal-open padding issue */
body.modal-open {
    padding-right:0 !important;
}


#sidebar {
   padding-left:0;
}

a, a:hover{
  text-decoration: none!important;
}
a.hover-img{
  margin-left: 20px;
  cursor: pointer;
}
.elem_elim{
    background-color: #ffdddd;
    width: 100%;
    padding: 60px;
    color: red;
    border: 1px solid red;
}
.home-card{
  opacity: .6;
}
.home-card:hover{
  opacity: 1;
}
.svg-icon{
  max-width: 64px;
}
.red-bg, .red-bg:focus{
  text-decoration: none;
  cursor: pointer;
  background-color: #c9302c;
  color: #fff!important;
  text-decoration: none;
}
.red-bg:hover, .red-bg:active{
  background-color: #921410;
  color: #fff!important;
  text-decoration: none;  
}
.red-bg>i{
  transition: transform .3s ease-out;
}
.red-bg:hover>i{
  transform: translate(100%, 0);
}
.interno-card{
  padding: 5%;
}
.interno-card h1, .interno-card div{
  margin: 15px auto;
}
.interno-card label{
  width: 100%;
  text-align: left;
  font-weight: 700;
  font-size: 1.3rem;
}
.interno-card input{
  margin-bottom: 20px;
}
.shadow-card{
  box-shadow: 0 0 30px #ccc;
}
.red{
  color: #d9534f;
}
/*
 * Off Canvas at medium breakpoint
 * --------------------------------------------------
 */
@media screen and (max-width: 48em) {

  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -33%;
  }

  .row-offcanvas-left.active {
    left: 33%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 33%;
    height: 100%;
  }
}

/*
 * Off Canvas wider at sm breakpoint
 * --------------------------------------------------
 */
@media screen and (max-width: 34em) {
  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -45%;
  }

  .row-offcanvas-left.active {
    left: 45%;
  }
  
  .sidebar-offcanvas {
    width: 45%;
  }
}

.card {
    overflow:hidden;
}
.card-block .rotate {
    z-index: 8;
    float: right;
    max-height: 100%;
}

.card-block .rotate i {
    color: rgba(20, 20, 20, 0.15);
    position: absolute;
    left: 0;
    left: auto;
    right: -10px;
    bottom: 0;
    display: block;
    -webkit-transform: rotate(-44deg);
    -moz-transform: rotate(-44deg);
    -o-transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
    transform: rotate(-44deg);
}

.placeholder{
  margin: 20px 0;
}

/*Checkbox e radio button personalizzati*/
.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {

    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    /*border-radius: .25em;*/
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label{
  margin-right: 1.5rem;
}
.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}
/*Checkbox e radio button personalizzati*/
.img-container img{
  height:150px;
}
.dz-remove {
  display: none;
}
.file-row{
  margin-left: 0!important;
  margin-right: 0!important;
}
.file-row-inside, .butt-images{  
  margin-bottom: 20px!important;
}
p.name{
  position: absolute;
  bottom: 0;
  width: 100%;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.class-img-input{
  max-height: 150px;
  max-width: 100%;
  margin-bottom: 10px;
}
.input-group{
  margin: 10px auto;
}
.card-header{
  text-transform: uppercase;
}
.save-btn{
  margin-top: 25px;
}
.nav-link{
  text-transform: uppercase;
  border-radius: 0;
}

td.move{
  cursor:move;
  text-align: center;
}
td.modify, td.delete{
  cursor: pointer;
  text-align: center;
}
button{
  border-radius: 0!important;
  cursor: pointer;
}
input, .input-group-addon{
  border-radius: 0!important;
}
#sidebar button{
  margin:10px; 
}
@media (min-width: 768px){
  #sidebar{
    border-right: 2px solid #d9534f;
  }
}
.collapse .col-md-6, .collapse .col-md-12{
  padding-top:20px;
}
.btn-salva, .eliminaDato{
  cursor: pointer;
}

.check-modal{
  width: 100%;
  margin: auto;
  text-align: center;
}

.dropdown-menu{
  background-color:#d9534f;
  border: none;
}
.dropdown-item{
  color: rgba(255,255,255,.5);
}
.dropdown-item:focus,.dropdown-item:hover{
  background-color: #c9302c;
  color: #fff;
}

.has-float-label .form-control:placeholder-shown:not(:focus)+* {
  font-size:120%!important;
}
.form-control{
  -webkit-flex-direction: row!important;
    -ms-flex-direction: row!important;
    flex-direction: row!important;
}

/*ON OFF SWITCH*/
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 30px;
    margin-bottom: 0!important;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 40px; padding: 0; line-height: 40px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "SI";
    padding-left: 10px;
    background-color: #4AC234; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "NO";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 26px; margin: 7px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 46px;
    border: 2px solid #999999; border-radius: 30px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
/*END ON OFF SWITCH*/

.coupon-box{
  padding: 20px 10px;
  background-color: #f1f1f1;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px 0;
  min-height: 220px;
}
.coupon-box:hover{
  background-color: #dedede;
  color: #292b2c;
}
.coupon-box.active{
  background-color: #cdf1cd;
  color: #007700;
  cursor: default;
}
.coupon-box .rounded{
  margin: 20px auto;
  width: 80px;
  height: 80px;
  background-color: rgba(0,0,0,.3);
  border-radius: 100%;
  line-height: 90px;
}

.coupon-box i{
  font-size: 30px;
}

#selUser div{
  padding: 7px 10px;  
  margin: 2px 0;
  width: 100%;
  border-radius: 8px;  
}
#selUser div:not(.alert){
  background-color: #f1f1f1;
  cursor: pointer;
}
#selUser div:not(.alert):hover{
  background-color: #dedede;  
}

.window{
  overflow-y: scroll;
  z-index:999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
}
